/* *:hover {
  border-style: none;
}
body {
  background-image: linear-gradient(
      rgb(31, 13, 27),
      rgba(15, 19, 17, 0.884),
      rgba(15, 17, 14, 0.774),
      rgba(130, 255, 14, 0.26)
    ),
    url(./assets/imgs/bg-img-1.png);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

#root {
  margin: 0 auto;
}
p::selection {
  background-color: greenyellow;
  color: black;
}
h2::selection {
  background-color: rgb(59, 83, 23);
  color: greenyellow;
}
button::selection {
  text-decoration: none;
}
img::selection {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
} */
