.mainContainer {
  max-width: 1270px;
}
::-webkit-scrollbar-track {
  background-color: #252b1f;
}

::-webkit-scrollbar {
  width: 7px;
  display: block;
  position: absolute;
}

::-webkit-scrollbar-thumb {
  background-color: #0b0c0a;
}

form {
  background-image: linear-gradient(
    #0000006b,
    #2f3f1648,
    #0f0f0e00,
    #080807d8,
    #000000e3
  );
  height: 90vh;
  max-height: 660px;
  max-width: 400px;

  margin: 50px 0;
  padding: 10px 20px 20px 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  border: 1px solid greenyellow;
  border-radius: 15px;
}
form h2 {
  font-size: 30px;
  margin-top: 0;
}

form img {
  width: 160px;
  animation: rotation 40s infinite linear;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

form input {
  text-align: center;
  color: gray;
  height: 30px;
  width: 250px;
  padding: 0 10px;
  border-radius: 5px;
  border: none;
}
form input:focus,
textarea:focus {
  outline: solid 1px greenyellow;
  border: solid 1px rgb(210, 255, 10);
}

form button {
  outline: none;
  padding: 5px 20px;
  border-radius: 5px;
  text-transform: uppercase;
  background-color: #1f2219;
}
form button:hover {
  transition: 500ms;
  background-color: greenyellow;
  box-shadow: 0 0 1px 1px greenyellow;
  color: #222;
}
form p {
  font-size: 14px;
  text-align: center;
  color: rgb(255, 255, 255);
}
.errors {
  margin-top: -10px;
  color: violet;
}
