@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100;200;300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;600&display=swap");
.card {
  font-family: "Roboto Mono", monospace;
  font-size: 14px;
  text-align: left;

  height: initial;
  width: 260px;
  margin: 25px 15px;
  background-image: linear-gradient(#000000, #21611a, #000000);
  transition-duration: 300ms;

  border-radius: 8px;

  /* display: flex;
  flex-direction: column;
  justify-content: space-between; */
}
.card:hover {
  transform: scale(1.02, 1.02);
  transition-duration: 200ms;
  border-radius: 8px;
  box-shadow: 0 0 40px 5px rgba(152, 255, 8, 0.349), 0 0 1px 1px greenyellow;

  background-image: linear-gradient(#000000, #1a3020, #3e704b, #000000);
}

.card:hover img {
  filter: none;
}
.card img {
  filter: grayscale(40%);
}

.name {
  font-family: "VT323", monospace;
  /* font-family: "Barlow Condensed", sans-serif; */

  font-size: 24px;
  line-height: 1;
  text-align: center;

  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0;
  padding-inline: 5px;
  height: 70px;
  background-color: greenyellow;
  color: #222;
  border-radius: 8px 8px 0 0;
}

.status {
  position: relative;
  display: block;
  height: 24px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #1a3020;
  text-transform: uppercase;
}
.id {
  position: relative;
  display: block;
  height: 24px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #1a3020;
  text-transform: uppercase;
}

.card img {
  width: 260px;
  height: 265px;
  margin-bottom: -8px;
}

.buttons button {
  text-transform: uppercase;
  background-color: #16161500;
  width: 100%;
  padding: 0;

  font-size: 25px;
}
.favButton {
  border-radius: 8px 0 8px 0;
}
.closeButton {
  border-radius: 0 8px 0 8px;
}

.buttons button:hover {
  transition: 1s;
  background-color: greenyellow;
  outline: solid 1px greenyellow;
  border: solid 1px greenyellow;
  color: #222;
  z-index: 0;
}

.buttons {
  display: flex;
  justify-content: space-between;
  height: 60px;
  color: #222;
}
