.myFavs {
  margin-top: 70px;
  text-align: center;
  width: 80vw;
}
.title {
  text-align: center;

  margin-top: 120px;
  font-size: 30px;
  color: greenyellow;
  text-transform: uppercase;
}
.sorter {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
  width: 200px;
  height: 50px;
  border-radius: 8px;
  padding: 10px 15px;
  font-size: 16px;
}
.sorter div {
  display: flex;
  flex-direction: row;
}

.mainContainer {
  max-width: 1270px;
  padding: 0 3rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.buttonBar {
  display: flex;
  align-items: center;
  position: fixed;
  left: 0;
  width: 100%;
  z-index: 5;
  justify-content: center;
  margin: auto;
  background-color: #252b1ff3;
}
.buttonBar label {
  margin-bottom: 4px;
}
.buttonBar div {
  margin: 0 10px;
}
.buttonBar button:first-child {
  border-radius: 8px 0 0 8px;
}
.buttonBar button:last-child {
  border-radius: 0 8px 8px 0;
}
.buttonBar button {
  display: flex;
  align-items: center;
  height: 30px;
  background-color: #161615;
}
.buttonBar button:hover {
  transition: 1s;
  background-color: greenyellow;
  color: #222;
}
.buttonBar select {
  height: 30px;
  border-radius: 8px;
  border: none;
  padding-inline: 5px;
  background-color: #161615;
}

::-webkit-scrollbar-track {
  background-color: #252b1f;
}

::-webkit-scrollbar {
  width: 7px;
  display: block;
  position: absolute;
}

::-webkit-scrollbar-thumb {
  background-color: #0b0c0a;
}
