.buscador {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}
.buscador input {
  height: 30px;
  width: 115px;
  padding: 0 10px;
  border-radius: 5px;
  border: none;
}
.buscador input:focus,
textarea:focus {
  outline: solid 1px greenyellow;
  border: solid 1px rgb(210, 255, 10);
}

.buscador button {
  outline: none;
  padding: 5px 20px;
  margin-left: 10px;
  border-radius: 5px;
  border: none;
  text-transform: uppercase;
  background-color: #1f2219;
}
.buscador button:hover {
  transition: 500ms;
  background-color: greenyellow;
  box-shadow: 0 0 1px 1px greenyellow;
  color: #222;
}
