.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  overflow: hidden;
  text-align: center;
}
.about img {
  margin-top: 150px;
  width: 80vw;
  max-width: 500px;
  animation: rotation 40s infinite linear;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
