@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;600&display=swap");
:root {
  font-family: "Roboto Mono", monospace;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

a {
  color: black;
  text-decoration: none;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;

  min-width: 320px;
  min-height: 100vh;

  background-image: linear-gradient(
      rgb(31, 13, 27),
      rgba(15, 19, 17, 0.884),
      rgba(15, 17, 14, 0.774),
      rgba(130, 255, 14, 0.26)
    ),
    url(./assets/imgs/bg-img-1.png);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}

p::selection {
  background-color: greenyellow;
  color: black;
}
h2::selection {
  background-color: rgb(59, 83, 23);
  color: greenyellow;
}
button::selection {
  text-decoration: none;
}
img::selection {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}
